<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ShopUserTokenMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.ShopUserToken">
		<id column="id" property="id" />
		<result column="token" property="token" />
		<result column="login_type" property="login_type" />
		<result column="device_infor" property="device_infor" />
		<result column="is_availability" property="is_availability" />
		<result column="user_id" property="user_id" />
		<result column="create_time" property="create_time" />
		<result column="update_time" property="update_time" />
	</resultMap>

</mapper>
