<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ShopUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.ShopUser">
		<id column="USER_ID" property="USER_ID" />
		<result column="MOBILE" property="MOBILE" />
		<result column="EMAIL" property="EMAIL" />
		<result column="PASSWORD" property="PASSWORD" />
		<result column="USER_NAME" property="USER_NAME" />
		<result column="SEX" property="SEX" />
		<result column="AGE" property="AGE" />
		<result column="CREATE_TIME" property="CREATE_TIME" />
		<result column="IS_AVALIBLE" property="IS_AVALIBLE" />
		<result column="PIC_IMG" property="PIC_IMG" />
		<result column="QQ_OPENID" property="QQ_OPENID" />
		<result column="WX_OPENID" property="WX_OPENID" />
	</resultMap>

</mapper>
